dockertestng.dtd

<!ELEMENT suite (test)>
<!ATTLIST suite name NMTOKEN #REQUIRED>
<!ATTLIST suite parellel NMTOKEN #REQUIRED>
<!ELEMENT test (classes)>
<!ATTLIST test thread-count NMTOKEN #REQUIRED>
<!ATTLIST test name NMTOKEN #REQUIRED>
<!ELEMENT classes (class+)>
<!ELEMENT class EMPTY>
<!ATTLIST class name NMTOKEN #REQUIRED>